/* -- Backgrounds -- */
.wj-content:not(.wj-viewer-outer),
div[wj-part='cells'] {
  color: #222;
  background: #ffffff;
}
.wj-content .wj-input-group .wj-form-control {
  color: #222;
  background: #ffffff;
}
.wj-listbox-item:not(.wj-state-selected):hover {
  background: rgba(0, 0, 0, 0.04);
}
/* -- Headers -- */
.wj-header {
  background: #eaeaea;
  color: #222;
}
.wj-flexgrid .wj-group:not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Group row background */
  background: #d9d9d9;
  color: #000;
}
.wj-flexgrid .wj-marker {
  background: #217346;
}
/* -- Grid -- */
.wj-flexgrid div[wj-part='root'] {
  background: #f2f2f2;
}
.wj-state-selected {
  background: #217346;
  color: #ffffff;
}
.wj-state-multi-selected {
  background: #e6e6e6;
  color: #222;
}
.wj-input-group .wj-form-control,
.wj-grid-editor {
  background: #fff;
  color: #000000;
}
div[wj-part='rhcells'] .wj-header {
  background: #eaeaea;
}
.wj-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
[dir="rtl"] .wj-cell {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default grid cell color */
  background: #ffffff;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate grid cell color */
  background: #f2f2f2;
}
.wj-frozen.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Default frozen cell color */
  background: #e7eef1;
  color: #222;
}
.wj-frozen.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  /* Alternate frozen cell color */
  background: #d7e3e8;
  color: #222;
}
.wj-cell.wj-frozen-row {
  border-bottom-color: #222;
  border-width: 1px;
}
.wj-cell.wj-frozen-col {
  border-right-color: #222;
  border-width: 1px;
}
.wj-flexgrid .wj-header.wj-state-multi-selected {
  /* Selected headers */
  background: #dddddd;
  color: #222;
  font-weight: bold;
}
.wj-flexgrid .wj-colheaders .wj-header.wj-state-multi-selected {
  /* Selected column headers */
  border-bottom: 2px solid #217346 !important;
}
.wj-flexgrid .wj-rowheaders .wj-header.wj-state-multi-selected {
  /* Selected row headers */
  border-right: 2px solid #217346 !important;
}
.wj-flexgrid .wj-marquee {
  /* Selection Marquee */
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #217346 !important;
}
.wj-flexsheet .wj-marquee {
  /* FlexSheet Marquee Border */
  border: 2px solid #217346 !important;
}
/* -- Buttons -- */
.wj-content .wj-input-group-btn > .wj-btn,
.wj-content .wj-btn-group > .wj-btn {
  background: #fff;
  color: #666666;
}
.wj-content .wj-input-group-btn > .wj-btn:hover,
.wj-content .wj-btn-group > .wj-btn:hover {
  background: #e8e8e8;
  color: #666666;
}
.wj-content .wj-input-group-btn > .wj-btn:focus,
.wj-content .wj-btn-group > .wj-btn:focus {
  background: #e8e8e8;
  color: #666666;
}
.wj-content:not(.wj-dropdown-panel):not(.wj-listbox):not(.wj-flexgrid):not(.wj-calendar-outer):not(.wj-multi-autocomplete) {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-btn-default {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.wj-input-group-btn > .wj-btn {
  border: 1px;
}
/* -- Border Radii -- */
.wj-content,
.wj-input-group,
.wj-btn-group,
.wj-btn-group-vertical,
.wj-tooltip,
.customEdit {
  border-radius: 0;
}
/* -- Tooltip -- */
.wj-tooltip {
  background: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* -- Gauges -- */
.wj-gauge .wj-pointer path {
  fill: #217346;
}
/* -- MultiAutoComplete -- */
.wj-control.wj-multi-autocomplete {
  border-radius: 0;
}
.wj-multi-autocomplete .wj-token {
  border-radius: 0;
  border: 1px solid #fff;
  background: #fff;
  color: #666666;
}
.wj-multi-autocomplete .wj-token:hover {
  border-color: #e8e8e8;
}
.wj-multi-autocomplete .wj-token.wj-token-active {
  border-color: #e8e8e8;
}
.wj-multi-autocomplete .wj-token .wj-token-close,
.wj-multi-autocomplete .wj-token .wj-token-close:hover,
.wj-multi-autocomplete .wj-token .wj-token-close:focus {
  color: #666666;
}
/* -- TreeView -- */
.wj-treeview .wj-node.wj-state-selected {
  background: #217346;
  color: #ffffff;
}
/* -- Viewer -- */
.wj-viewer .wj-toolbar,
.wj-viewer .wj-viewer-leftpanel {
  background: #eaeaea;
  color: #222;
  border-color: #222;
}
.wj-viewer .wj-toolbar .wj-svg-btn,
.wj-viewer .wj-viewer-leftpanel .wj-svg-btn {
  fill: #222;
  stroke: #222;
}
.wj-viewer .wj-tabcontent .wj-tabpane input[type='text'] {
  color: #222;
}
.wj-content.wj-viewer-outer:not(.customEdit) .wj-btn-group .wj-btn.wj-state-active .wj-svg-btn {
  fill: #217346;
  stroke: #217346;
}
.wj-viewer .wj-outlines-tree .wj-state-selected {
  background-color: #e8e8e8;
}
.wj-viewer .wj-outlines-tree .wj-cell a,
.wj-viewer .wj-outlines-tree .wj-cell a:hover {
  color: #217346;
}
.wj-viewer .wj-outlines-tree .wj-cell.wj-state-selected a,
.wj-viewer .wj-outlines-tree .wj-cell.wj-state-selected a:hover {
  color: #666666;
}
.wj-viewer .wj-toolbar .wj-btn-group > .wj-btn,
.wj-content:not(.customEdit) .wj-viewer-leftpanel .wj-btn-group .wj-btn {
  background: #eaeaea;
  color: #222;
}
.wj-viewer .wj-toolbar .wj-btn-group > .wj-btn:hover,
.wj-content:not(.customEdit) .wj-viewer-leftpanel .wj-btn-group .wj-btn:hover,
.wj-viewer wj-toolbar-move left:hover,
.wj-viewer wj-toolbar-move right:hover,
.wj-control.wj-viewer a[wj-part^="btn-"],
.wj-control.wj-viewer a[wj-part^="btn-"]:hover {
  background-color: #e8e8e8;
  color: #666666;
}
.wj-viewer .wj-toolbar .wj-btn-group > .wj-btn:hover .wj-svg-btn,
.wj-content:not(.customEdit) .wj-viewer-leftpanel .wj-btn-group .wj-btn:hover .wj-svg-btn,
.wj-viewer wj-toolbar-move left:hover .wj-svg-btn,
.wj-viewer wj-toolbar-move right:hover .wj-svg-btn,
.wj-control.wj-viewer a[wj-part^="btn-"] .wj-svg-btn,
.wj-control.wj-viewer a[wj-part^="btn-"]:hover .wj-svg-btn {
  fill: #666666;
  stroke: #666666;
  opacity: 1;
}
.wj-viewer .wj-toolbar .wj-btn-group > .wj-btn:focus,
.wj-content:not(.customEdit) .wj-viewer-leftpanel .wj-btn-group .wj-btn:focus,
.wj-control.wj-viewer a[wj-part^="btn-"]:focus {
  background-color: none;
  color: #666666;
}
.wj-viewer .wj-input-group {
  border: 1px solid #222;
}
.wj-viewer .wj-tabcontent .wj-tabpane .wj-tabtitle-wrapper,
.wj-viewer .wj-tabcontent .wj-tabpane .wj-tabcontent-wrapper,
.wj-viewer .wj-tabcontent .wj-tabpane .wj-outlines-tree,
.wj-viewer .wj-tabcontent .wj-tabpane .wj-flexgrid div[wj-part='root'],
.wj-viewer .wj-tabcontent .wj-tabpane .wj-searchresult,
.wj-viewer .wj-tabcontent .wj-tabpane .wj-tabcontent-inner {
  background: #eaeaea;
  color: #222;
}
.wj-viewer .wj-tabcontent .wj-tabpane .wj-btn-group {
  border-radius: 0;
}
.wj-viewer .wj-tabcontent .wj-tabpane .wj-tabtitle,
.wj-viewer .wj-tabcontent .wj-tabpane legend {
  color: #222;
  border-color: #222;
}
.wj-viewer .wj-tabcontent .active {
  border-color: #222;
}
.wj-dropdown-panel {
  outline: none;
  box-shadow: none;
}
.wj-colheaders .wj-header.wj-state-multi-selected {
  /* Selected column headers */
  color: #217346 !important;
}
.wj-rowheaders .wj-header.wj-state-multi-selected {
  /* Selected row headers */
  color: #217346 !important;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
  background: #fff;
}
.wj-multi-autocomplete {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.wj-multi-autocomplete .wj-token {
  border-color: rgba(0, 0, 0, 0.15);
}

